*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 248, 248);
}

.loginBlock {
  background-color: #ffffff;
  outline: 0.5px solid rgb(79, 79, 79);
  margin-top: 50px;
  width: 400px;
  text-align: center;
}
.loginWrap {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.regBlock {
  display: flex;
  margin-top: 20px;
  width: 400px;
  height: 65px;
  background-color: #ffffff;
  outline: 0.5px solid rgb(79, 79, 79);
  text-align: center;
}

.instLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 36px
}
.block1Logo {
  /*display: flex;*/
  justify-content: center;
  margin-bottom: 10px;
  display: block;
}
.block2Logo {
  /*display: flex;*/
  justify-content: center;
  padding-bottom: 15px;
  display: block;
}
.inpLogo {
  width: 260px;
  height: 40px;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  /*border: none;*/
  border: 1px solid rgb(79, 79, 79);
  border-radius: 5px;
}
.blockLogoBtn {
  /*display: flex;*/
  justify-content: center;
  padding-bottom: 15px;
  display: block;
}
.logoBtn {
  background-color: #0095f6;
  width: 260px;
  height: 30px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: large;
  font-style: italic;
  color: #ffffff;
  margin-bottom: 30px;
}
.logoBtn:active {
  background-color: #0094f661;
}

.formError {
  margin: 0;
  color: red;
  font-weight: 600;
}

.formRegLogText {
  font-family: 'Poppins', sans-serif;
  margin: auto;
}

.formRegLog {
  font-family: 'Poppins', sans-serif;
  color: #0095f6;
  text-decoration: none;
}
.sideBarWrapper {
  height: 550px;
  width: 90px;
  background-color: #EFEFEF;
  border-radius: 56px;
  margin: 70px 0 auto 45px;

}
.sideBarWrapper > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sideBarWrapper > div > div {
  margin: auto;
}

.userLogoWrapper {
  margin: auto;
  text-align: center;
}
.userStorieWrapper {
  height: 100px;
  min-width: 100px;
  border-radius: 50%;
  display: flex;
  border: 5px solid #D6295D;
  margin-right: 15px;
}
.userStorie{
  height: 80px;
  min-width: 80px;
  border-radius: 50%;
  margin: auto;

}

.main-container {
  height: 150px;
  width: 575px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}


.window {                           
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.all-items {
  height: 100%;
  display: flex;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}