*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 248, 248);
}

@font-face {
  font-family: 'Product-Sans-Regular';
  src: url('./fonts/product-sans/ProductSansRegular.ttf');
}
@font-face {
  font-family: 'Product-Sans-Italic';
  src: url('./fonts/product-sans/ProductSansItalic.ttf');

}

.loginBlock {
  background-color: #ffffff;
  outline: 1px solid rgb(79, 79, 79);
  margin-top: 50px;
  width: 400px;
  text-align: center;
}
.loginWrap {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.regBlock {
  display: flex;
  margin-top: 20px;
  width: 400px;
  height: 65px;
  background-color: #ffffff;
  outline: 1px solid rgb(79, 79, 79);
  text-align: center;
}

.instLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 36px
}
.block1Logo {
  /*display: flex;*/
  justify-content: center;
  margin-bottom: 10px;
  display: block;
}
.block2Logo {
  /*display: flex;*/
  justify-content: center;
  padding-bottom: 15px;
  display: block;
}
.inpLogo {
  width: 260px;
  height: 40px;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  /*border: none;*/
  border: 1px solid rgb(79, 79, 79);
  border-radius: 5px;
}
.blockLogoBtn {
  /*display: flex;*/
  justify-content: center;
  padding-bottom: 15px;
  display: block;
}
.logoBtn {
  background-color: #0095f6;
  width: 260px;
  height: 30px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: large;
  font-style: italic;
  color: #ffffff;
  margin-bottom: 30px;
}
.logoBtn:active {
  background-color: #0094f661;
}

.formError {
  margin: 0;
  color: red;
  font-weight: 600;
}

.formRegLogText {
  font-family: 'Poppins', sans-serif;
  margin: auto;
}

.formRegLog {
  font-family: 'Poppins', sans-serif;
  color: #0095f6;
  text-decoration: none;
}
.sideBarWrapper {
  height: 550px;
  width: 90px;
  background-color: #EFEFEF;
  border-radius: 56px;
  margin: 70px 0 auto 45px;

}
.sideBarWrapper > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sideBarWrapper > div > div {
  margin: auto;
}

.userLogoWrapper {
  margin: auto;
  text-align: center;
}
.userStoriesWrapper {
  height: 100px;
  min-width: 100px;
  border-radius: 50%;
  display: flex;
  border: 5px solid #D6295D;
  margin-right: 15px;
}
.userStoriesWrapper img {
  max-width: 82px;
  max-height: 82px;
}
.userStories{
  height: 80px;
  min-width: 80px;
  border-radius: 50%;
  margin: auto;

}

.main-container {
  max-width: 460px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(248, 248, 248);

}


.window {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.all-items {
  height: 100%;
  display: flex;
  /*transition: translate;*/
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.addStoriesWrapper {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  outline: 5px solid #F8F8F8FF;

}

.userClientStoriesWrapperNonActive {
  display: flex;
}
.clientStories {
  position: relative;
  border: none;
  background-color: transparent;
}
.clientStoriesImg {
display: block;
}

.clientStories:active img{
  transition: 0.2s;
  transform: scale(80%);

}

.carouselButtonWrapper {
  height: 100px;
  width: 50px;
  border-radius: 42px;
  background-color: #EFEFEF;
  margin-left: 25px;
  display: flex ;
  border: none;
}

.carouselButton{
  margin: auto;
  cursor: pointer;
}

.plus {

  background:
          linear-gradient(#fff,#fff),
          linear-gradient(#fff,#fff),
          #0095F6;
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}
.pointer {
  cursor: pointer;
}

.postsBlockWrapper {
  margin-top: 30px;
}

.postWrapper {
  width: 650px;
  height: 450px;
  background-color: #EFEFEF;
  border-radius: 36px;
  margin-bottom: 30px;
  padding: 15px;
  display: flex;
}

.postWrapper .img {
  max-height: 400px;
  max-width: 400px;
}



.postImage {
  /*max-width: 400px;*/
  max-height: 400px;
}

.main-container-post {
  /*width: 460px;*/
  /*margin-left: 30px;*/
  display: flex;
  align-items: center;
  background-color: rgb(248, 248, 248);

}


.window-post {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.all-items-post {
  height: 100%;
  display: flex;
  /*transition: translate;*/
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.all-items-post img {
  max-height: 400px;
  max-width: 400px;

}
.defaultImagePostWrapper  {
  border-radius: 28px;
  overflow: hidden;

}

.postInfoWrapper {
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;

}

.userPostStoriesWrapper {
  height: 62px;
  min-width: 62px;
  border-radius: 50%;
  display: flex;
  border: 1px solid #D6295D;
  /*margin-right: 15px;*/
}
.userPostStoriesWrapper img {
  max-width: 52px;
  max-height: 52px;
  width: 100%;
  height: 100%;
}
.userPostAvatar{

}

.userPostAvatar img {
  width: 52px;
  height: 52px;
}

.userPostInfoWrapper {
  display: flex;
}
.postUserNickNameWrapper {

}
.postUserNickNameWrapper span{
  font-size: 20px;
  font-family: 'Product-Sans-Regular', serif;
}
.postTime time {
  font-size: 13px;
  font-family: 'Product-Sans', serif;
  color: #8D8D8D;
}

.postInfoNameTime {
  display: flex;
}
.additionalPostInfo {
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  border-color: transparent;;
}

.userPostContent {
  font-family: 'Product-Sans-Italic', serif;
}
.clickedAdditionalInfoPost {
  width: 20px;
  height: 20px;
  border-radius: 50px;


}
.additionalPostInfo:active  .clickedAdditionalInfoPost{
  background-color: #8D8D8D;
  transition: 0.5s;

}

.userPostContentWrapper {
  margin-top: 5px;
}

.userPostSectionButtons {
  margin-top: 15px;
}

.userPostButtonsWrapper {
  background-color: white;
  border-radius: 30px;
  width: 160px;
  height: 45px;
  outline: 1px solid grey;
  display: flex;
  justify-content: space-around;
}
.userPostButtonsWrapper button {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
}


