*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 248, 248);
}

.loginBlock {
  background-color: #ffffff;
  outline: 0.5px solid rgb(79, 79, 79);
  margin-top: 50px;
  width: 400px;
  text-align: center;
}
.loginWrap {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.regBlcok {
  margin-top: 20px;
  width: 400px;
  height: 65px;
  background-color: #ffffff;
  outline: 0.5px solid rgb(79, 79, 79);
  text-align: center;
}

.instLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 15px;
}
.block1Logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  display: block;
}
.block2Logo {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  display: block;
}
.inpLogo {
  width: 260px;
  height: 40px;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  border: none;
  border: 1px solid rgb(79, 79, 79);
  border-radius: 5px;
}
.blockLogoBtn {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  display: block;
}
.logoBtn {
  background-color: #0095f6;
  width: 260px;
  height: 30px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: large;
  font-style: italic;
  color: #ffffff;
}
.logoBtn:active {
  background-color: #0094f661;
}

.formError {
  margin: 0;
  color: red;
  font-weight: 600;
}

.formRegLogText {
  font-family: 'Poppins', sans-serif;
}

.formRegLog {
  font-family: 'Poppins', sans-serif;
  color: #0095f6;
  text-decoration: none;
}
